coverage
node_modules
.env*
.idea

# built with npm run build:communes-centroids
data/generated/*
!data/generated/.gitkeep
data/territoires.gpkg

cartobio-asp*.gpkg*

# Fichiers PDF temporaires générés par les exports
storage/pdf/*
!storage/pdf/.gitkeep

# types
docs/types
