coverage
node_modules
.env*
.idea

# built with npm run build:communes-centroids
data/communes.json
data/antilles.json
data/guyane.json
data/reunion.json
data/mayotte.json
data/metropole.json
data/territoires.gpkg

cartobio-asp*.gpkg*

# types
docs/types
